root = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_allow_trailing_comma = false
ij_any_keep_multiple_expressions_in_one_line = unset
ktlint_standard_multiline-expression-wrapping =
